@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  ---Purple: #fb72ff;
  --Blue: #4cabe1;
  --Green: #62eb9a;
  --NeonBlue: #60fdf4;
  --Yellow: #ffd426;
  --Black: #000000;
  --White: #ffffff;
  /* Margin */
  --mg-1: 1rem;
  --mg-2: 2rem;
  --mg-3: 3rem;
  --mg-4: 4rem;
  /* font */
  --Nunito: "Nunito Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
.nav li,
.nav a {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--White);
}
li a:hover {
  color: var(---Purple) !important;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: none;
  width: 100%;
  height: 15vh;
}
.mobile-nav-toggle {
  background: none;
}
.fl-2 {
  display: flex;
  align-items: center;
}
.ctas {
  border-radius: 5px !important;
}
header {
  width: 100vw;

  z-index: 300;
}
.nav h2 {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.3rem;
}
.ri-infinity-line {
  display: inline-block;
  animation: rotateText 2s linear;
  transition: 2s rotate ease-in;
}
@keyframes rotateText {
  from {
    transform: rotate(0deg);
    color: var(---Purple);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0 20px;
}
.nav__links li a {
  transition: all 0.3 ease 0s;
}
.nav__links li a:hover {
  color: #051a7b;
}
button {
  padding: 9px 25px;
  background-color: var(--dark-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: #fff;
  font-family: "montserrat", sans-serif;
}
button:hover {
  background-color: var(--secondary-color);
}
.sr-only {
  display: none;
}
.fa-bars {
  display: block;
  color: var(--dark-color) !important;
}
@media (max-width: 888px) {
  nav {
    width: 100vw;
    position: fixed;
    z-index: 300;
    inset: 0 0 0 30%;
  }
  .mobile-nav-toggle {
    background: block;
  }

  .mobile-nav-toggle {
    background: block !important;
  }
  .nav__links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: min(30vh, 10rem) 2rem;
    background: hsla(0, 0%, 0%, 0.75);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  .nav__links[data-visible="true"] {
    transform: translateX(0%);
  }
  .active .fa-bars {
    color: white !important;
  }
  .nav__links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 20vh;
    margin-bottom: 2rem;
  }
  .nav__links li,
  .nav__links li a {
    width: 100%;
    padding: 1rem;
  }

  .nav__links li:hover {
    color: #ffffff;
    background: #ff00f7;
  }
  .nav__links a,
  .nav__links a:hover {
    color: white !important;
  }
  .btn-nav2 {
    display: none;
  }
  .test {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .mobile-nav-toggle {
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    top: 2rem;
    z-index: 9999;
    background: none !important;
  }
  .sr-only {
    display: block;
  }

  @support (backdrop-filter:blur(1rem)) {
    .nav__links {
      background: hsla(0, 0%, 100%, 0.284);
    }
  }
}
@media (max-width: 2000px) {
  .mobile-nav-toggle {
    display: none;
  }
}
@media (max-width: 787px) {
  .mobile-nav-toggle {
    display: block;
    top: 1.4rem;
    right: 15rem;
    font-size: 2rem;
  }
  .fl-2 {
    display: flex;
    align-items: start;
  }
}
@media (max-width: 627px) {
  .mobile-nav-toggle {
    display: block;
    top: 1.4rem;
    right: 15rem;
    font-size: 2rem;
  }
  .fl-2 {
    display: flex;
    align-items: start;
  }
}
@media (max-width: 570px) {
  .mobile-nav-toggle {
    top: 1.2rem;
    right: 10rem;
  }
}
@media (max-width: 462px) {
  .mobile-nav-toggle {
    top: 2rem;
    right: 15rem;
  }
  .hero-grid-item:first-child {
    padding: 10rem 2rem !important;
    z-index: 200;
  }
}
@media (max-width: 350px) {
  .mobile-nav-toggle {
    top: 2rem;
    right: 10rem;
  }
  .hero-grid-item:first-child {
    padding: 10rem 2rem !important;
    z-index: 200;
  }
}
/* for desktops */
/* @media (min-width:35em) and(max-width: 55em){
  .fl-2{
    display: flex;
    align-items: center;
  }
  .ctas{
    border-radius: 5px !important;
  }
} */
